{{#each this}}
<div class="card">
    <h2 class="title">{{name}}</h2>
    <div class="box">
    <div class="box-about">
        <p class="about-title"><b>Capital: </b>{{capital}}</p>
        <p class="about-title"><b>Population: </b>{{population}}</p>
        </li>
        <p class="about-title"><b>Languages:</b></p>
        <ul>
            {{#each languages}}
            <li class="item">{{name}}</li>
            {{/each}}
        </ul>
        </div>
        <img src="{{flag}}" alt="{{name}}-flag">
    </div>
</div>
{{/each}}